
/* Jede Spalte max. 30em breit */
form.stacked .column {
    max-width: 30em;
}

/* Formularelemente maximal breit gestapelt */
form.stacked > *,
form.stacked .column > *,
form.stacked .side-by-side > * {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

/* Container für nebeneinander liegende Elemente */
form.stacked .side-by-side {
    display: flex;
}

form.stacked .side-by-side > * {
    margin-right: 0.25em;
}

form.stacked .side-by-side > *:last-child {
    margin-right: 0;
}

/* Feldbezeichner */
form.stacked label {
    margin-top: 1em;
}

form.stacked label:first-of-type {
    margin-top: 0;
}

/*
 * Horizontal ausgerichtete Formulare
 */
form.horizontal {
    /* Formularelement maximal hoch, nebeneinander */
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

form.horizontal > * {
    vertical-align: baseline;
}

/* Feldbezeichner */
form.horizontal label {
    margin-left: 1em;
}

form.horizontal label:first-of-type  {
    margin-left: 0;
}

/*
 * Allgemeingültige Layoutoptionen
 */
form label {
    font-weight: bold;
}

form label .required {
    color: darkred;
}

input,
textarea,
select {
    border: 1px solid #bebebe;
    padding: 0.5em;
    margin: 0;
    outline: none;
    background: white;
}

textarea {
    height: 12em;
}
