header {
	/*display: none;*/
	box-shadow: unset;
}

html {
	background-color: white;
}

html .menuitem {
	text-align: center;
	padding-right: 2em;
}

body {
	text-align: right;
	background-color: white;
}

label, h1, input {
	text-align: center;
}

.column {
	margin: auto;
	border-color: gray;
	border-style: double;
	padding: 10px;
	width: 30em;
}

.icon {
	margin: auto;
	width: 100%;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}