header {
	/*display: none;*/
	box-shadow: unset;
}

html .menuitem {
	text-align: center;
}

body {
	text-align: right;
	background-color: white;
}

label, h1, input {
	text-align: center;
}

.column {
	margin: auto;
	border-color: gray;
	border-style: double;
	padding: 10px;
}

.icon {
	margin: auto;
	width: 100%;
}

.container {
	margin-bottom: 100%;
}

menutitem {
	margin-right: 100px;
}
